@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Righteous&family=Spartan:wght@400;500&display=swap');

:root {
  --col: calc(100vw / 20);
  --clr-dark: #3A3B3D;
  --clr-pagination: #585A5E;
  --clr-accent: #90D136;
  --clr-light: #61892F;
  --clr-off-white: rgb(224, 224, 224);
  --clr-off-black: rgb(29, 29, 29);
  --ff-spartan: 'Spartan', sans-serif;
  --ff-display: 'Big Shoulders Display', sans-serif;
  --ff-righteous: 'Righteous', serif;

  --text-logo: 1.75rem;
  --text-body: 0.875rem;
  --text-hero: 8rem;
  --text-hero__subheading: 1.2rem;
  --text-hero-paragraph: 1.3rem;
  --text-btn: 3rem;
  --text-sect-heading: 2.5rem;
  --text-sect-heading__span: 5rem;
  --text-card__heading: 2.06rem;
  --text-card__text: 1.25rem;
  --text-bio-sect__h2: 2.3rem;
  --text-bio-sect__h3: 1rem;
  --text-name-card__name: 1.3rem;
  --text-ftr-links: 0.7rem;
  --text-social-icons: 1.6rem;
  --text-ftr-btm: 2rem;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: all 500ms ease;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

ul {
  list-style: inherit;
}

/** non-reset below  */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-spartan);
  background-color: var(--clr-dark);
  font-size: var(--text-body);
  overflow-x: hidden;
}

header {
  padding-inline: var(--col);
  background-color: var(--clr-light);
}

.logo-bg {
  font-family: var(--ff-display);
  width: calc(var(--col) * 3);
  background-color: var(--clr-off-white);
  display: grid;
  font-size: var(--text-logo);
  letter-spacing: 0.1em;
  place-content: center;
}

nav {
  display: flex;
  padding-block: 0.4rem;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  width: calc(var(--col) * 7);
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  color: var(--clr-off-white);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--clr-off-white);
  margin: 5px;
  transition: all 0.3s ease;
}

.hero-landing {
  position: relative;
  padding-inline: var(--col);
  padding-block: 4rem;
}

.watermark {
  position: absolute;
  top: -20px;
  color: var(--clr-light);
  opacity: 0.09;
  font-family: var(--ff-righteous);
  font-size: var(--text-watermark);
  letter-spacing: 0.1em;
}


.hero-text {
  color: var(--clr-light);
  font-family: var(--ff-righteous);
  font-size: var(--text-hero);
  letter-spacing: 0.1em;
  text-align: center;
  text-align: center;
}

.hero-text .subheading {
  color: var(--clr-accent);
  font-family: var(--ff-spartan);
  font-size: var(--text-hero__subheading);
  letter-spacing: 0.09em;
  margin-bottom: -1.4rem;
}

.btn-hero {
  padding-top: 2rem;
}

.hero-paragraph {
  color: var(--clr-off-white);
  font-size: var(--text-hero-paragraph);
  line-height: 164%;
  padding-inline: var(--col);
  /* width: calc(var(--col) * 11); */
}

.btn-border {
  margin-top: 2rem;
  font-family: var(--ff-display);
  margin-left: calc(var(--col) * 1);
  font-size: var(--text-btn);
  letter-spacing: 0.225em;
  width: calc(var(--col) * 3);
  border: 4.87811px solid rgba(124, 124, 124, 0.62);
  position: relative;
}

.btn-border .btn {
  position: relative;
  left: 3rem;
  color: var(--clr-light);
  text-decoration: none;
}

.btn-border .btn:hover {
  color: var(--clr-off-white);
}

.inter-a-video {
  padding-inline: var(--col);
  background-color: var(--clr-off-white);
  width: 100vw;
  aspect-ratio: 16/9;
  margin-block: 2rem;
  box-sizing: content-box;
  padding-block: 3rem;
  display: grid;
  place-content: center;
}

.inter-a-video div {
  padding-bottom: 1rem;
}

.sect-heading {
  font-size: var(--text-sect-heading);
  letter-spacing: -0.09em;
  text-align: center;
  color: var(--clr-off-black);
}

.sect-heading>span {
  font-family: var(--ff-righteous);
  font-size: var(--text-sect-heading__span);
  letter-spacing: 0.14em;
}

.family-sect {
  padding-block: 4rem;
}

.family-sect .hero-paragraph {
  padding-top: 2rem;
  padding-inline: calc(var(--col) * 2);
}

.family-sect img {
  padding-top: 2rem;
  padding-inline: calc(var(--col) * 2);
}

.features-sect {
  background-color: var(--clr-accent);
  color: var(--clr-off-white);
  padding-block: 3rem;
}

.features-sect .sect-heading {
  color: var(--clr-off-white);
  margin-bottom: 2rem;
}

.card-flex {
  padding-inline: calc(var(--col) * 2);
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}

.card {
  aspect-ratio: 16 / 9;
  background-color: var(--clr-off-white);
  display: flex;
}

.card iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-text {
  padding-top: 3rem;
}

.card-text .heading {
  text-align: center;
  font-size: var(--text-card__heading);
  letter-spacing: -0.09em;
  padding-bottom: 1rem;
}

.card-text .text {
  font-size: var(--text-card__text);
  line-height: 186%;
  letter-spacing: 0.035em;
}

.bio-sect {
  padding-block: 3rem;
  padding-inline: calc(var(--col) * 1);
  color: var(--clr-off-white);
  text-align: center;
}

.bio-sect h2 {
  font-size: var(--text-bio-sect__h2);
  letter-spacing: 0.015em;
  padding-bottom: 1rem;
  font-weight: 400;
}

.bio-sect h3 {
  font-size: var(--text-bio-sect__h3);
  padding-bottom: 1rem;
  font-weight: 400;
}

.name-card-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  row-gap: 3rem;
}


.name-card img {
  border-radius: 50%;
}

.name-card .name {
  padding-top: 1rem;
  font-size: var(--text-name-card__name);
}

.decorative-line {
  height: 2px;
  background-color: var(--clr-off-white);
  margin-bottom: 2rem;
}

footer {
  background-color: var(--clr-light);
  padding-inline: calc(var(--col) * 2);
  padding-block: 2rem;
}

.ftr-links {
  display: flex;
  justify-content: space-between;
  width: calc(var(--col) * 16);
}

.ftr-links ul:first-child {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  width: 37%;
}

.ftr-links ul:last-child {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  width: 37%;
}

.ftr-links ul>li+li {
  margin-left: 3rem;
}

.ftr-links ul li a {
  font-size: var(--text-ftr-links);
  color: var(--clr-off-white);
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-links>a {
  width: 50px;
  height: 50px;
}

.social-links>:first-child {
  width: 50px;
}

.social-links>.social-links-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.social-links .social-icons {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: var(--clr-off-white);
  display: grid;
  place-content: center;
}

.social-icons>* {
  font-size: var(--text-social-icons);
  color: var(--clr-light);
}

.social-links>div>.social-icons+.social-icons {
  margin-left: 0.5rem;
}

.to-top-icon {
  width: 50px;
  border: 50%;
}

.ftr-btm {
  padding-top: var(--text-ftr-btm);
  color: var(--clr-off-white);
  font-size: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.ftr-btm :first-child {
  grid-column: 2;
  justify-self: center;
}

.ftr-btm :last-child {
  grid-column: 3;
  justify-self: end;
}

.contact-form {
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  padding-inline: calc(var(--col) * 1);
  color: var(--clr-accent);
}

.contact-form label {
  font-size: 1.5rem;
}

.contact-form form>*+* {
  margin-top: 1rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-family: var(--ff-spartan);
  font: 1.2rem;
  padding-block: 0.5em;
}

.contact-form input[type="submit"] {
  border: #90D136 2px solid;
  background-color: #3A3B3D;
  border-radius: 20px;
  padding-block: 0.5em;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--clr-accent);
  transition: all 250ms ease;
}

.contact-form input[type="submit"]:hover {
  background-color: var(--clr-accent);
  color: white;
}

@media (min-width: 1300px) {
  .hero-text {
    font-size: 11rem;
  }

  .hero-text .subheading {
    font-size: 1.65rem;
  }

  .hero-paragraph {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --text-hero: 14vw;
    --text-watermark: 40rem;
    --text-hero__subheading: 2vw;
    --text-hero-paragraph: 1rem;
  }

  .nav-links {
    width: calc(var(--col) * 7.5);
  }

  .watermark {
    position: absolute;
    top: 150px;
    font-size: 400px;
    letter-spacing: 0.17em;
  }

  .hero-landing {
    padding-block: 8rem;
  }

  .hero-flex {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
  }

  .hero-flex .subheading {
    position: absolute;
    top: 210px;
    left: 7.5em;
    word-spacing: 4em;
    letter-spacing: -0.08em;
  }

  .hero-paragraph {
    padding: 4vw 0 0 calc(var(--col) * 1);
  }

  .family-sect {
    padding-block: 5rem;
    display: flex;
    padding-left: calc(var(--col) * 2);
    justify-content: space-between;
  }

  .family-sect div {
    width: calc(var(--col) * 8);
    text-align: left;
  }

  .family-sect .hero-text {
    font-size: 7rem;
  }

  .family-sect div .hero-paragraph {
    padding: 0;
    width: 100%;
  }

  .family-sect img {
    width: calc(var(--col) * 9);
    padding: 0;
    margin-block: -5rem;
    margin-top: -7rem;
    object-fit: cover;
    background-color: blue;
  }

  .features-sect {
    padding-block: 5rem;
    /* display: flex;
    flex-direction: column; */
  }

  .features-sect .sect-heading {
    font-size: 3rem;
  }

  .features-sect .sect-heading span {
    font-size: 6rem;
  }

  .card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card {
    width: calc(var(--col) * 7);
    height: 300px;
  }

  .card-text {
    text-align: left;
    padding: 0;
    padding-left: calc(var(--col) * 2);
    padding-bottom: 0.6rem;
  }

  .card-text .heading {
    text-align: left;
  }

  .card-text .text {
    font-size: 1.15rem;
  }

  .ftr-links ul:first-child {
    justify-content: space-around;
  }

  .ftr-links ul:last-child {
    justify-content: space-around;
  }

  .ftr-btm {
    font-size: 0.7rem;
  }
}
@media not all and (min-resolution: .001dpcm){
  .watermark {
    display: none;
  }
}

@media (max-width: 812px) {
  :root {
    --text-logo: 1.75rem;
    --text-body: 0.875rem;
    --text-watermark: 20rem;
    --text-hero: 8rem;
    --text-hero__subheading: 1.2rem;
    --text-hero-paragraph: 1.3rem;
    --text-btn: 3rem;
    --text-sect-heading: 2.5rem;
    --text-sect-heading__span: 5rem;
    --text-card__heading: 2.06rem;
    --text-card__text: 1.25rem;
    --text-bio-sect__h2: 2.3rem;
    --text-bio-sect__h3: 1rem;
    --text-name-card__name: 1.3rem;
    --text-ftr-links: 0.7rem;
    --text-social-icons: 1.6rem;
    --text-ftr-btm: 2rem;
  }
}



@media (max-width: 768px) {
  :root {
    --text-logo: 1.4rem;
    --text-body: 0.875rem;
    --text-hero: 8rem;
    --text-hero__subheading: 1.2rem;
    --text-hero-paragraph: 1.3rem;
    --text-btn: 3rem;
    --text-sect-heading: 2.5rem;
    --text-sect-heading__span: 5rem;
    --text-card__heading: 2.06rem;
    --text-card__text: 1.25rem;
    --text-bio-sect__h2: 2.3rem;
    --text-bio-sect__h3: 1rem;
    --text-name-card__name: 1.3rem;
    --text-ftr-links: 0.7rem;
    --text-social-icons: 1.6rem;
    --text-ftr-btm: 2rem;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    padding-block: 0.3rem;
    z-index: 1;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: calc(100vh - 0.3rem);
    top: 0.3rem;
    background-color: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

}


@media (max-width: 622px) {
  :root {
    /* --text-logo: 1.4rem; */
    /* --text-body: 0.875rem; */
    --text-hero: 6rem;
    --text-hero__subheading: 0.95rem;
    --text-hero-paragraph: 1rem;
    --text-btn: 2.5rem;
    --text-sect-heading: 2rem;
    --text-sect-heading__span: 3.5rem;
    --text-card__heading: 1.5rem;
    --text-card__text: 1rem;
    --text-bio-sect__h2: 1.8rem;
    --text-bio-sect__h3: 1rem;
    --text-name-card__name: 1.3rem;
    --text-ftr-links: 0.7rem;
    --text-social-icons: 1.6rem;
    --text-ftr-btm: 2rem;
  }

  .hero-landing {
    padding-inline: var(--col);
    padding-block: 2rem;
  }

  .btn-hero {
    padding-top: 1rem;
  }

  .btn-border {
    min-width: 70px;
  }

  .btn-border .btn {
    left: 5vw;
  }

  .family-sect {
    padding-block: 2rem;
  }

  .features-sect {
    padding-block: 2rem;
  }

  .features-sect .sect-heading {
    margin-bottom: 0;
  }

  .card-flex {
    padding-block: 1.5rem;
  }

  .card-text {
    padding-top: 2rem;
  }
}

@media (max-width: 550px) {

  .ftr-links ul {
    display: flex;
    flex-direction: column;
  }

  .ftr-links ul :first-child {
    margin-bottom: 2rem;
  }

  .social-links>* {
    transform: scale(0.7);
  }

  .social-links a {
    padding-top: 0.2rem;
    transform: scale(1.1);
  }

  .social-links {
    margin-bottom: -2rem;
  }

}

@media (max-width: 450px) {
  .logo-bg {
    width: calc(var(--col) * 4);
  }

  .features-sect .sect-heading span {
    letter-spacing: 0em;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}